/* `:root` is a pseudo-selector to make sure that the syles will apply across all of the HTML. */
:root {
  --gap-sm: 8px;
  --gap-md: 16px;
  --primary-color: #7e8959;
  --text-color: #0a3542;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Establish the base font size.
    This means 1em = 10px;
   */
  font-size: 10px;
}

header,
section,
footer {
  padding: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

section {
  text-align: center;
}

img {
  max-width: 100%;
}

input {
  max-width: 160px;
  width: 100%;
}

footer {
  background-color: var(--primary-color);
  font-size: 1em;
  height: auto;
}

.hero {
  background: url(./assets/hero-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100vw;
}

.hero section {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
}

/* Utility Classes */
.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  display: inline-block;
  max-width: max-content;
  padding: 0.5rem;
}

.button--text {
  background: none;
  color: var(--primary-color);
  margin: 0.25rem 0;
  padding: 0;
}

/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  border-radius: 4px;

  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: 0.3s;

  /* `max-content` will make the width be just wide enough to fit the content. */
  width: 80vw;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-center {
  justify-content: center;
}

.flex--wrap {
  flex-wrap: wrap;
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

/* CSS Tricks */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
}
